#maze
{
    display: flex;
    flex-direction: column;
}

.maze-row
{
    display: flex;
    flex-direction: row;
}

.maze-tile
{
    display: flex;
    flex-direction: column;
    border: solid 3px;
    width: 30px;
    height: 30px;
}